In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\rlink\Documents\Instacart Basket Analysis'

In [6]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [7]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 1. Perform the consistency checks covered in this Exercise on your df_prods dataframe

In [11]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

## 1.1 check for these mixed-type columns in a test dataframe

### 1.1.1 create a test dataframe

In [15]:
df_test = pd.DataFrame()

### 1.1.2 create a mixed type column

In [18]:
df_test['mix'] = ['a', 'b', 1, True]

In [20]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

### 1.1.3 Check for mixed columns

In [23]:
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [25]:
df_test['mix'] = df_test['mix'].astype('str')

## 1.2 Check for missing data

In [28]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [30]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [32]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [34]:
df_prods.shape

(49693, 5)

In [36]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [38]:
df_prods_clean.shape

(49677, 5)

## 1.3 Finding duplicats

In [41]:
df_prods.dropna(inplace = True)

In [43]:
df_prods.shape

(49677, 5)

In [45]:
df_prods.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Length: 49677, dtype: bool

In [47]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [49]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [51]:
df_prods_clean.shape

(49677, 5)

In [53]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [55]:
df_prods_clean_no_dups.shape

(49672, 5)

# 2. Run the df.describe() function on your df_ords dataframe.

In [58]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

AT first glance, the order_id, user_id, and order_number seem reasonable. Order_dow (days of the week) has a minimum of 0, and I would expect the minimum to be 1. Less problematic is a maximum of 6, but I think that is odd, too because it implies that no one orders anything on Saturday. Also, it could be that they star with 0 and go to 6. This would mean that it does, indeed, have 7 days. The order,hour-of-the-day seems to be on a 24 hour cycle beginning with 0, too. Days_since_prior order seems reasonable.

# 3. Check for mixed-type data in your df_ords dataframe.

In [62]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

Since I did not get anything back, I assume that there are no mixed-type data issues in this dataframe (I am comfortable with this because there were none in the prods dataframe).

# 5. Run a check for missing values in your df_ords dataframe.

In [65]:
df_ords.shape

(3421083, 7)

In [66]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [67]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

# 6. Address the missing values using an appropriate method.

In [72]:
df_nan_ords = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [75]:
df_nan_ords

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [77]:
df_ords['days_since_prior_order'].median()

7.0

In [99]:
df_ords['days_since_prior_order'].mean()

11.114836226863012

In [137]:
df_ords['days_since_prior_order'].fillna(7, inplace=True)

# 7. Run a check for duplicate values in your df_ords data.

In [127]:
df_ords.dropna(inplace = True)

In [129]:
df_ords.shape

(3214874, 7)

In [145]:
df_dups_ords = df_ords[df_ords.duplicated()]

In [147]:
df_dups_ords

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

There do not seem to be any duplications in this dataset.